{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class="container" style="text-align:center;">
    <div class="jumbotron" style="margin-bottom:0px;">
        <h1 class="display-4" >Hello, Patient</h1>
        <p class="lead">Welcome to HealthCare System.</p>
        <hr class="my-4">
        <p>You can access various features after Login/SignUp.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Register Your Account</a>
          <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Login</a>
        </p>
      </div>
</div>

<br>
<br>
<br>
<br>

{% endblock %}